<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
    <event>
        <duration>1</duration>
        <studyGroup name="12A">
            <numberOfParticipants>0</numberOfParticipants>
        </studyGroup>
        <teacher name="dpop">
            <firstName>Dan</firstName>
            <lastName>Pop</lastName>
        </teacher>
        <classroom name="204"/>
        <subject name="Matematica">
            <studyYear>12</studyYear>
        </subject>
        <weekDay>0</weekDay>
    </event>
    <event>
        <duration>1</duration>
        <studyGroup name="12B">
            <numberOfParticipants>0</numberOfParticipants>
        </studyGroup>
        <teacher name="ctns">
            <firstName>Catalina</firstName>
            <lastName>Ilas</lastName>
        </teacher>
        <classroom name="204"/>
        <subject name="Informatica">
            <studyYear>12</studyYear>
        </subject>
        <weekDay>0</weekDay>
    </event>
    <event>
        <duration>1</duration>
        <studyGroup name="10B">
            <numberOfParticipants>0</numberOfParticipants>
        </studyGroup>
        <teacher name="ctns">
            <firstName>Catalina</firstName>
            <lastName>Ilas</lastName>
        </teacher>
        <subject name="Engleza">
            <studyYear>10</studyYear>
        </subject>
        <weekDay>0</weekDay>
    </event>
</events>
